flask
transformers
elasticsearch
numpy
xgboost
sentence-transformers
pandas
schedule
requests
python-dotenv
jira
slack-sdk
kafka-python-ng
google-genai
groq
boto3
Pillow




zcatalyst-sdk
flask
qdrant-client==1.12.1
python-dotenv
requests
google-genai
APScheduler

